/*
*
*	Please note that the css for javaFX is slightly different than regular css
*	the default classes start with a "-fx-" prefix and there are a few other minor differences	
*
*/


.root {
	-fx-background-color: #222222;
	-fx-spacing: 10;
	-fx-padding: 30;
}

.label {
	-fx-font-size: 15px;
	-fx-font-family: "Arial";
	-fx-text-fill: #FFFFFF;
	
}

.text-field {
	-fx-font-size: 1.5em;
	-fx-font-family: "Arial";
}

.button {
	-fx-font-family: "Arial";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#9EA7E5, #6A12B1);
}

/* Change this to a darker gradient later */
.button:hover {
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#9EA7E5, #6A12B1);
}

